@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4em;
}

@media screen and (min-width: 320px) {

    .what{
    position: fixed;
    font-size: 3.2em;
    margin-left: 80%;
    margin-top: 147%;
    z-index: 30;
    color: #25D366;
    }

    .card-img{
    width: 100%;
    }

    .cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    /* HEADER */

    .container{
        width: 100%;
        display: flex;
        background-color: #000;
        justify-content: space-between;
        align-items: center;
        gap: 5em;
        height: 4em;
        padding: 1em 10%;
    }
    
    .logo h2{
        font-size: 1.2em;
        font-weight: 500;
        cursor: pointer;
    }

    .logo-h{
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        letter-spacing: .3em;
        /* margin-top: 3em; */
    }
    
    .logo a{
        text-decoration: none;
        color: #fff;
    }
    
    .nav-links{
        list-style: none;
    }
    
    .nav-links li{
        display: inline-block;
        padding: 0 1em;
    }
    
    .nav-links li a{
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5em;
    }

    /* HERO */

    .hero{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .video{
        width: 100%;
        position: relative;
        z-index: -1;
    } 
    
    .div-hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        gap: .2em;
    }

    h1{
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        font-size: 2em;
        font-weight: 900;
        text-align: center;
        letter-spacing: .3em;
    }

    .hero-par{
        font-family: 'Josefin Sans', sans-serif;
        color: #fff; 
        letter-spacing: .2em;
        font-weight: 600;
    }

    .pres-form{
        margin: 0 auto;
    }

    .btn{
        background-color: burlywood;
        font-family: 'Josefin Sans', sans-serif;
        font-size: .9em;
        font-weight: 700;
        padding: .3em 1.2em;
        border: none;
        margin-top: .7em;
    }

    /* SECCIÓN TIPOS */

    .tipos{
        padding: 1em 0;
        gap: 2em;
    }


    h2{
        font-family: 'Great Vibes', cursive;
        font-weight: 500;
    }

    .tipos-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: .7em;
        margin-bottom: 2.3em;
    }

    .tipos-img{
        width: 18em;
        height: 30em;
    }

    .tipos-tit{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 1.2em;
    }

    .parrafo{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        text-align: center;
    }


    /* SECCIÓN ENTREGAS */

    .entregas{
        gap: 2em;
        margin-bottom: 2.5em;
    }

    .line1{
        width: 60%;
        height: .5em;
        margin-left: 0%;
        margin-right: 50%;
        background-color: tomato;
    }

    .line2{
        width: 60%;
        height: .5em;
        margin-left: 50%;
        margin-right: 0%;
        background-color: tomato;
    }

    .entregas-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1em 4em;
        gap: 1em;
    }

    .club{
        gap: 0;
    }

    .entregas-tit{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2em;
        font-weight: 900;
        letter-spacing: .3em;
    }

    .entregas-par{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        color: #ff6347;
    }

    .par{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }

    /* SECCIÓN BUSCAMOS */

    .buscamos{
        gap: 2em;
        padding: 1em 2em;
        margin-bottom: 3em;
    }

    .buscamos-tit{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2em;
        font-weight: 800;
        text-align: justify;
    }

    .parrafo{
        font-size: 1em;
        font-weight: 600;
        text-align: justify;
    }

    /* SECCIÓN RESÚMEN */

    .resumen{
        gap: 4em;
        padding: 1em 1.5em;
    }

    .resumen-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        margin-bottom: 3.5em;
    }

    .fa-solid{
        font-size: 2.2em;
        color: tomato;
    }

    .res-tit{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.4em;
        font-weight: 600;
    }

    .parrafo{
        font-size: .9em;
    }

    /* SECCIÓN REGALAR */

    .regalar-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1em 2em;
    }

    .reg-tit{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.4em;
        font-weight: 600;
    }

    /* FOOTER */

    .fin{
        width: 100%;
        height: 5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        padding: .6em 0;
        margin-top: 3em;
        gap: .2em;
    }

    .foot{
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .fa{
        color: #fff;
        font-size: 1.9em;
    }

    .fin-par{
        color: #fff;
        font-weight: 500;
        word-spacing: .8em;
    }

    /* EFECTO IMAGENES */

    figure:hover img{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    figure {
        overflow: hidden;
    }

    /* HTML SUSCRIP Y REGALO */

    .container-sec{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 2em;
        gap: 1em;
    }

    .titulo-sec{
        color: black;
        font-size: 1.8em;
        text-align: center;
    }

    p, li{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1em;
        font-weight: 600;
        text-align: justify;
    }

    .star{
        font-size: 1.6em;
        font-weight: 500;
        text-align: justify;
    }

    li{
        list-style: none;
    }

    .precio{
        font-size: 1.5em;
        font-weight: 700;
        color: #ff6347;
    }
   
    /* HTML COMPRA */

    .eco{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em 0;
        gap: 2em;
    }

    .campo{
        width: 90%;
        /* margin-left: 1em;
        margin-top: 2em; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 1px,rgba(0,0,0,0.1) 1px, rgba(0,0,0,0.1) 10px,transparent 10px, transparent 11px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 9px,rgb(255,255,255) 9px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 20px,rgb(255,255,255) 20px, rgb(255,255,255) 26px); background-size: 53px 53px;
        border: 2px solid #000;
        border-radius: 1em;
        gap: .3em;
    }
    label, legend{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
    }

    legend{
        font-size: 1.2em;
    }

    #direccion, #tarjeta{
        width: 100%;
    }

    #cp, #codigo{
        width: 30%;
    }

    #titular, #nombre, #apellido, #email{
        width: 85%;
    }

    input{
        font: 1em 'Josefin Sans', sans-serif;
        height: 1.7em;
        border: 1px solid #000;
        border-radius: .3em;
        font-weight: 600;
    }
}

/* MEDIA QUERIES */

@media  screen and (min-width: 480px) and (orientation: landscape) {
    h2{
        font-size: 2em;
    }

    .tipos-img{
        width: 26em;
        height: 40em;
    }

    .buscamos-tit{
        font-size: 2.5em;
    }

    .what{
        margin-left: 89%;
        margin-top: 84%;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .div-hero{
        width: 30em
    }

    h1{
        font-size: 5em;
    }

    .hero-par{
        font-size: 2em;
    }

    .tipos{
        margin-bottom: 5em;
    }

    .buscamos{
        margin-top: 7em;
    }

    .container-sec{
        padding: 1em 5em;
    }

    .campo{
        width: 70%;
    }

    #titular, #nombre, #apellido, #email{
        width: 65%;
    }

    #direccion, #tarjeta{
        width: 90%;
    }

    #cp, #codigo{
        width: 20%;
    }
}

@media screen and (min-width: 1024px){
    .what{
        display: none;
    }

    .logo h2{
        margin-top: 3em;
    }

    .hero, h2{
        margin-bottom: 3em;
    }

    .tipos-cont, .resumen-cont{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .tipos{
        margin-bottom: 10em;
    }

    .tipos-card{
        width: 50%;
    }

    .club h2{
        line-height: 0;
        margin-bottom: .5em;
    }

    .line1{
        margin-bottom: 6em;
    }

    .line2{
        margin-top: 4em;
    }

    .entregas-div{
        padding: 0 15em;
    }

    .entregas{
        margin-bottom: 10em;
    }

    .buscamos{
        padding: 0 7em;
        margin-bottom: 7em;
    }

    .buscamos-tit{
        margin-top: 1.5em;
        margin-bottom: .5em;
    }

    .buscamos-par{
        font-size: 1.2em;
        font-weight: 600;
    }

    .resumen-cont{
        gap: 2em;
        margin-bottom: 7em;
    }

    .resumen-card{
        width: 40%;
    }

    .res-tit{
        margin-bottom: .5em;
    }

    .fin{
        margin-top: 10em;
        height: 120px;
    }

    .container-sec{
        gap: 2.5em;
    }

    .eco{
        gap: 5em;
        padding: 3em 0;
    }

    #titular, #nombre, #apellido, #email, #tarjeta{
        width: 45%;
    }

    #direccion{
        width: 70%;
    }

    #cp, #codigo{
        width: 15%;
    }
}

@media screen and (min-width: 1200px) {
    h1{
        font-size: 6em;
    }

    h2{
        font-size: 4em;
        margin-top: 2em;
    }

    .tipos-img{
        width: 30em;
        height: 44em;
    }

    .line2{
        margin-top: 6em;
    }

    .fin{
        height: 150px;
        margin-top: 0;
    }

    .star{
        font-size: 50px;
        line-height: .5em;
    }

    .eco{
        flex-direction: row;
        justify-content: space-evenly;
        gap: .7em;
        background-color: rgb(212, 236, 236);
    }

    .campo{
        width: 45%;
        
    }
}

